FLASK_ENV=development
SECRET_KEY=change-me
JWT_SECRET_KEY=change-me-too
MONGO_URI=mongodb://localhost:27017
MONGO_DB=ai_finance
UPLOAD_DIR=uploads
ML_MODEL_PATH=../ml/artifacts/expense_forecast.pkl
GROQ_API_KEY=YOUR_API_KEY_HERE
